:root {
  --white: #ffffff;
  --light-pink: #878787;
  --normal-pink: #666666;
  --dark-pink: #34323d;
  --black: #121212;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  background-color: var(--dark-pink);
  color: var(--white);
}

.grid-container-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid-item-card {
  background: var(--normal-pink);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  font-size: 40px;
  border: 2px solid black;
  border-radius: 8px;
  height: fit-content;
  margin: 5px;
  transition: 0.3s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.331);
}

.grid-item {
  margin: auto;
  align-content: center;
  align-items: center;
  align-self: center;
}

.grid-item-card:hover {
  scale: 1.08;
  z-index: 1000;
  background: var(--light-pink);
}
.grid-item img {
  max-height: 500px;
}

/* FORM SECTION */

#signup {
  text-align: left;
  border: 1px solid white;
  gap: 10px;
  align-self: center;
  margin: auto;
  display: grid;
  width: 700px;
  grid-template-columns: 1fr 2fr;
}

#signup * {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  align-self: center;
  align-items: center;
  align-content: center;
}

#sitedata {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  border: 1px solid white;
  width: 80%;
  align-self: center;
  align-items: center;
  align-content: center;
  margin: auto;
}

#payment {
  text-align: left;
  align-self: left;
  align-items: left;
  align-content: left;
  align-tracks: left;
  margin-left: 20px;
}

/* FORM SECTION END */
